<header-component></header-component>

<div class="container">
    <div class="row">
        <div class="col-md-9 ml-sm-auto col-lg-12 px-4" style="margin-top: 50px">
            <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2"><i class="fas fa-user-tie"></i> Login</h1>
            </div>     
        </div>
    </div>
    <form name="userForm"  style="margin-top: 80px;" ng-show="formulario">
        <div class="form-group row justify-content-md-center">            
            <div class="col-sm-8 col-md-5">
                <label for="login">Login</label>
                <input type="text" class="form-control" id="login" placeholder="Introduce tu nombre de usuario" ng-model="login" ng-required="true" ng-keyup="$event.keyCode === 13 && log()">
                <small id="emailHelp" class="form-text text-muted">Escribe correctamente tu nombre de usuario.</small>
            </div>
        </div>    
        <div class="form-group row justify-content-md-center">            
            <div class="col-sm-8 col-md-5">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass" placeholder="Introduce tu contraseña" ng-model="pass" ng-required="true" ng-keyup="$event.keyCode === 13 && log()">
                <div ng-show="!userForm.pass.$valid && userForm.pass.$pristine" class="alert alert-danger" role="alert">
                    La contraseña es obligatoria.
                </div>
                <button type="button" class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="log()" style="margin-top: 10px;">Login</button>
            </div>
        </div>        
    </form>
    <div class="row justify-content-md-center">
        <div class="col-sm-8 col-md-5">            
            <div class="alert alert-danger" role="alert" ng-show="errorLogin">
                Te has equivocado.
            </div>

        </div>
    </div>
    <div class="form-group row justify-content-md-center">
        <div class="col-sm-8 col-md-5">
            <div ng-show="yesLogin" style="margin-top: 80px">
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-grin-beam"> Estas dentro.</i> 
                </div>
            </div>
        </div>
    </div>

</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>