<header-component></header-component>
<div class="container" style="margin-bottom: 100px;">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-4" style="margin-top: 50px">
            <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1><i class="fas fa-shopping-cart"></i> Carrito</h1>
                <span id="precioTotal" ng-show="!carritoVacio">Precio total: {{precioProducto.toFixed(2)}}€</span>
                <span id="cantidadTotal" ng-show="!carritoVacio">Cantidad de productos: {{cantidadProducto}}</span>
            </div>     
        </main>
    </div>

    <div ng-show="carritoVacioTabla">
        <div>
            <div class="items">
                <div class="item" ng-repeat="item in ajaxDataCarritoShow track by $index">
                    <div id="itemImagen"><i class="fas fa-cookie-bite" style="font-size: 200px;"><!--aqui iria la foto {{item.obj_Producto.foto}}--></i></div>
                    <div id="itemDesc"><h3>{{item.obj_Producto.desc}}</h3></div>
                    <div id="itemPrecio">Precio: {{item.obj_Producto.precio.toFixed(2)}}€</div>
                    <div id="itemCant">Cantidad: {{item.cantidad}}</div>
                    <div id="itemAdd">
                        <a class="btn btn-success"  ng-click="carrito('add', item.obj_Producto.id, '1')">
                            <i class="fas fa-plus"> Agregar</i>
                        </a>
                    </div>
                    <div id="itemRed">
                        <a class="btn btn-warning"  ng-click="carrito('reduce', item.obj_Producto.id, '1')">
                            <i class="fas fa-minus"> Reducir</i>
                        </a>
                    </div>
                    <div id="itemDel">
                        <a class="btn btn-danger"  ng-click="carrito('reduce', item.obj_Producto.id, item.cantidad)">
                            <i class="fas fa-eraser"> Eliminar</i>
                        </a>
                        
                    </div>                
                </div>
            </div>
        </div>


        <div class="row justify-content-end" style="margin-top: 30px;">
            <div class="col-auto">   
                <a class="btn btn-danger" ng-click="empty()">
                        <i class="fas fa-trash-alt" > Vaciar carrito</i>
                </a>
            </div>
            <div class="col-auto">                
                <a class="btn comprar" ng-click="buy()">
                        <i class="fas fa-shopping-cart" > Comprar</i>
                </a>
            </div>            
        </div>
    </div>

    <div ng-show="carritoVacio" class="row justify-content-md-center">        
        <div class="col-5" style="text-align: center">
            No hay ningun producto en el carrito. <a href="producto/plist_carrito" class="btn btn-info"> Agrega algo a tu carrito! </a>
        </div>
    </div>    
    <div ng-show="productoComprado" class="row justify-content-md-center">        
        <div class="alert alert-success col-5" style="text-align: center">
            Se ha creado la factura correctamente. <a href="usuario/plistfactura/{{idUsu}}"> Ver la factura. </a>
        </div>
    </div>    
</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>