<header-component></header-component>
<main role="main" class="container" style="margin-bottom: 100px;">
    
    
    <div class="primeraParte"></div>
    <div class="row">
        <div class="col-md-12 ml-sm-auto col-lg-12 px-4" style="margin-top: 50px">
            <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2"><i class="fas fa-file-invoice"></i> Linea {{idLin}}</h1>
                <h3 style="text-align: center">editar linea</h3>
                <a href="javascript:window.history.back();" class="btn btn-success">Volver</a> 
            </div>     
        </div>
    </div>
       
    <ng-form id="userForm" name="userForm" style="margin-bottom: 50px;" ng-show="!mensajeOK && !mensajeError">
       
        <div class="form-group row">
            <label for="cantidad" class="col-3 col-form-label">Cantidad</label>
            <div class="col-8">
                <input type="text" class="form-control is-valid" ng-class="{ 'is-invalid' : userForm.cantidad.$invalid && !userForm.cantidad.$pristine }" id="cantidad" 
                       name="cantidad" ng-model="ajaxDatoLinea.cantidad" ng-required="true" ng-pattern="/^[[0-9]{0,9}$/"/>
                <div ng-show="userForm.cantidad.$invalid && !userForm.cantidad.$pristine && !userForm.cantidad.$error.pattern" class="alert alert-danger" role="alert">
                    cantidad obligatorio
                </div>
                <div ng-show="userForm.cantidad.$error.pattern" class="alert alert-danger" role="alert">
                    cantidad no valida
                </div>
            </div>
        </div>
        
        <!-- MODAL de producto -->
        <producto-selection class="modal fade" id="cadd-location-modal" obj="ajaxDatoLinea.obj_Producto" 
                               on-producto-set="productoRefresh(this,false)"></producto-selection>

        <div class="form-group row">
            <label for="obj_producto" class="col-3 col-form-label">producto</label>
            <div class="col-2">          
                <div class="input-group">
                    <input ng-model="ajaxDatoLinea.obj_Producto.id"
                           ng-change="productoRefresh(this, true)"
                           aria-describedby="basic-addon2"
                           id="obj_producto"
                           name="obj_producto"
                           type="text"
                           size="5"
                           ng-model-options="{debounce: 1000}"
                           maxlength="5" ng-required="true"
                           class="form-control is-valid" 
                           ng-class="{ 'is-invalid' : userForm.obj_producto.$invalid && !userForm.obj_producto.$pristine }"
                    />
                    
                    <div class="input-group-prepend">
                        <span class="input-group-text fas fa-search"
                              data-toggle="modal"
                              data-target="#cadd-location-modal">                                  
                        </span>
                    </div>
                </div>
            </div>


            <div class="form-group " style="width: auto; margin-left: 15px;" ng-show="userForm.obj_producto.$valid">
                <a href="producto/view/{{ajaxDatoLinea.obj_Producto.id}}" class="input-group-text" ng-disabled="link">
                    Producto: {{ajaxDatoLinea.obj_Producto.desc}}
                </a>
            </div>
        </div>
        <div class="form-group row">
            <label for="obj_producto" class="col-3 col-form-label"></label>
            <div class="col-8">
                <div ng-show="!userForm.obj_producto.$valid && !userForm.obj_producto.$pristine" class="alert alert-danger" style="width: auto;" role="alert">
                    {{msgError}}
                </div>
            </div>
        </div>
        <!--   Fin modal de producto  -->

        <button ng-click="guardar()" type="button" class="btn btn-primary" ng-disabled="userForm.$invalid">Guardar</button>
    </ng-form>    
    <div class="alert alert-success" ng-show="mensajeOK">
        Datos actualizados correctamente del {{ob}} {{ajaxDatoLinea.id}}
    </div>
    <div class="alert alert-success" ng-show="mensajeError">
        Error de servidor al grabar el {{ob}} {{ajaxDatoLinea.id}}
    </div>

</main>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>