<header-component></header-component>
<div class="container" style="margin-bottom: 100px;">
    <div class="row">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4" style="margin-top: 50px">
            <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2"><i class="fas fa-box"></i> Productos</h1>
                <div class="btn-group" style="width:400px;">
                    <p class="mt-2" style="width:200px;">Selecciona RPP: </p>
                    <select class="form-control" 
                            ng-change="update()" 
                            ng-model="rpp" ng-options="value for value in select">
                    </select>
                </div>
            </div>     
        </main>
    </div>
    <div class="row">
        <div class="col-9">
            <nav aria-label="paginacion">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" ng-show="page > 1" href="{{ob}}/plist_carrito/{{rpp}}/{{page - 1}}/{{orderURLCliente}}">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page > 2" href="{{ob}}/plist_carrito/{{rpp}}/1/{{orderURLCliente}}">1</a>
                    </li>
                    <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                        <a class="page-link" href="{{ob}}/plist_carrito/{{rpp}}/{{p}}/{{orderURLCliente}}">{{p}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page != totalPages - 1 && page != totalPages" href="{{ob}}/plist_carrito/{{rpp}}/{{totalPages}}/{{orderURLCliente}}">{{totalPages}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page != totalPages" href="{{ob}}/plist_carrito/{{rpp}}/{{page--1}}/{{orderURLCliente}}">Next</a>
                    </li>                    
                </ul>
            </nav>
        </div>
    </div>

    <div>
        <div class="productos">
            <div class="producto" ng-repeat="producto in ajaxDataProductos">
                <div><i class="fas fa-cookie-bite" style="font-size: 200px;"></i></div>
                <div>{{producto.desc}}</div>
                <div>Existencias: {{producto.existencias}}</div>
                <div>Precio: {{producto.precio}}€</div>
                <div>
                    <a class="btn comprar" ng-class="{'disabled': producto.existencias == 0}"  ng-click="add(producto.id)"  style="margin-left: 10px;" data-toggle="modal"
                       data-target="#cadd-location-modal">
                        <i class="fas fa-cart-plus" > Comprar</i>
                    </a>
                </div>                
            </div>
        </div>
    </div>
    <carrito-selection class="modal fade" id="cadd-location-modal" msg="msgModal"></carrito-selection>
    <div class="row">
        <div class="col-9">
            <nav aria-label="paginacion">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" ng-show="page > 1" href="{{ob}}/plist_carrito/{{rpp}}/{{page - 1}}/{{orderURLCliente}}">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page > 2" href="{{ob}}/plist_carrito/{{rpp}}/1/{{orderURLCliente}}">1</a>
                    </li>
                    <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                        <a class="page-link" href="{{ob}}/plist_carrito/{{rpp}}/{{p}}/{{orderURLCliente}}">{{p}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page != totalPages - 1 && page != totalPages" href="{{ob}}/plist_carrito/{{rpp}}/{{totalPages}}/{{orderURLCliente}}">{{totalPages}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page != totalPages" href="{{ob}}/plist_carrito/{{rpp}}/{{page--1}}/{{orderURLCliente}}">Next</a>
                    </li>                    
                </ul>
            </nav>
        </div>
    </div>
</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>